<h2 class="page-header">search books</h2>
<form action="/books" method="GET">
 <label>title</label>
 <input type="text" name="name" >
 <input type="date" name="pa">
 <input type="date" name="pu">
 <button type="submit">search</button>   
</form>

<% books.forEach(b=>{%>
    <a href="/books/<%= b.title %> ">
    <div><%= b.title%></div>
    <img src="/books_covers/<%= String(b.cover_img) %> " alt="" width="100" height="150">
    </a>
    <%})  %> 