<h2 class="page-header">search books</h2>
<form action="/books" method="GET">
    <div class="form-row">
 <div class="form-item">
    <label>title</label>
 <input type="text" name="name" >
</div>
</div>
<div class="form-row">
<div class="form-item"> 
    <label >Published After</label>
<input type="date" name="pa">
</div> 
<div class="form-item">
    <label >Published Before</label>
<input type="date" name="pu">
</div> 
</div>
<div class="form-row form-row-end">
<button type="submit" class="btn btn-primary">search</button>   
</div>
</form>
<br>
<%- include('../partials/bookgrid',
{books:books}) %> 