<header>
<nav class="header-nav">
    <a class="header-title" href="/">Library</a>
    <ul>
     <li class="header-link"><a href="/authors">authors</a></li>   
     <li class="header-link"><a href="/authors/new">add author</a></li>
     <li class="header-link"><a href="/books">books</a></li>   
     <li class="header-link"><a href="/books/new">add book</a></li>
    </ul>
</nav>    
</header>