@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
*{
    margin: 0;
    padding: 0;
}
html{
    font-family:"Nunito";
    
}
:root{
    font-size: 20px;
}

body{
    background:linear-gradient(to right,var(--coloor-background-dark),var(--color-background-light));
    
}