<h2 class="page-header">edit Author</h2>
<form action="/authors/<%= author[0].id %>?_method=PUT" method="POST" >
 <%- include('form_fildes') %> 
 <div class="form-row form-row-end btn-row">  
<a class="btn btn-danger" href="/authors">cancel</a> 
<button class="btn btn-primary" type="submit">update</button>
</div>   
</form>