<h2>search authors</h2>
<form action="/authors" method="GET">
 <label>Name</label>
 <input type="text" name="name" >
 <button type="submit">search</button>   
</form>

<% authors.forEach(a=>{%>
    <br>
    <div><%= a.name%></div>
    <a href="/authors/<%= a.id %> ">View</a>
    <a href="/authors/<%= a.id %>/edit ">edit</a>
    <%- include("../partials/deleteForm.ejs",{url:`/authors/${a.id}`}) %> 
    <%})  %> 