<h2 class="page-header">search authors</h2>
<form action="/authors" method="GET">
    <div class="form-row">
        <div class="form-item">
 <label>Name</label>
 <input type="text" name="name" > 
</div>
</div>
<div class="form-row form-row-end">
 <button class="btn btn-primary" type="submit">search</button>
</div>   
</form>

<% authors.forEach(a=>{%>
    <br>
    <div><%= a.name%></div>
    <div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= a.id %> ">View</a>
    <a class="btn btn-primary" href="/authors/<%= a.id %>/edit ">edit</a>

    <%- include("../partials/deleteForm.ejs",{url:`/authors/${a.id}`}) %> 
</div>
    <%})  %>  
